<div class="col-sm-12">
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Date</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer Place</th>
      <th scope="col">No.Of.Acres</th>
      <th scope="col">Cost Per Acres</th>
      <th scope="col">Amount</th>
      <th scope="col">Advance</th>
      <th scope="col">Balance</th>
      <th scope="col">Total Amount</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>

      <td>12-11-1998</td>
      <td>S.Prabhu</td>
      <td>Thanjavur</td>
      <td>2.2000</td>
      <td>2000</td>
      <td>3000</td>
      <td>1000</td>
      <td>300</td>
      <td>4000</td>
    </tr>
    <tr>
      <th scope="row">2</th>

      <td>12-11-1998</td>
      <td>S.Prabhu</td>
      <td>Thanjavur</td>
      <td>2.2000</td>
      <td>2000</td>
      <td>3000</td>
      <td>1000</td>
      <td>300</td>
      <td>4000</td>
    </tr>
    <tr>
      <th scope="row">3</th>

      <td>12-11-1998</td>
      <td>S.Prabhu</td>
      <td>Thanjavur</td>
      <td>2.2000</td>
      <td>2000</td>
      <td>3000</td>
      <td>1000</td>
      <td>300</td>
      <td>4000</td>
      <tr>
        <th scope="row">3</th>

        <td>12-11-1998</td>
        <td>S.Prabhu</td>
        <td>Thanjavur</td>
        <td>2.2000</td>
        <td>2000</td>
        <td>3000</td>
        <td>1000</td>
        <td>300</td>
        <td>4000</td>
    </tr>
  </tbody>
</table>
</div>

