<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="col-sm-8 row mb-3">
<div class="form-group row ">
  <label for="customerName" class="col-sm-2 col-form-label">Customer Name:</label>
  <div class="col-sm-6">
  <input
    required
    minlength="3"
    maxlength="10"
    class="form-control"
    ngModel
    name="customerName"
    #customerName="ngModel"
    id="customerName"
    type="text">
    <div
    class="alert alert-danger"
    *ngIf="customerName.touched && !customerName.valid">
    Customer Name is Required
     </div></div>
    </div>

    <div class="form-group row">
    <label for="date" class="col-sm-2 col-form-label">Date:</label>
    <div class="col-sm-6">
    <input
      required
      class="form-control"
      ngModel
      name="date"
      #date="ngModel"
      id="date"
      type="date">
      <div
        class="alert alert-danger"
        *ngIf="date.touched && !date.valid">
         Date is Required
      </div></div>
  </div>

    <div class="form-group row">
    <label for="billNumber" class="col-sm-2 col-form-label">Bill Number:</label>
      <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="billNumber"
    #billNumber="ngModel"
    id="billNumber"
    type="number">
    <div
    class="alert alert-danger"
    *ngIf="billNumber.touched && !billNumber.valid">
     Bill Number is Required
    </div></div>
  </div>
    <div class="form-group row">
    <label for="customerPlace" class="col-sm-2 col-form-label">Customer Place</label>
    <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="customerPlace"
    #customerPlace="ngModel"
    id="customerPlace"
    type="text">
    <div
    class="alert alert-danger"
    *ngIf="customerPlace.touched && !customerPlace.valid">
     Customer Place is Required
    </div></div></div>

    <div class="form-group row">
    <label for="numberOfAcres" class="col-sm-2 col-form-label">Number of acres</label>
    <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="numberOfAcres"
    #numberOfAcres="ngModel"
    id="numberOfAcres"
    type="number">
    <div
    class="alert alert-danger"
    *ngIf="numberOfAcres.touched && !numberOfAcres.valid">
     Number Of Acres is Required
    </div> </div>
  </div>

    <div class="form-group row">
    <label for="costPerAcre" class="col-sm-2 col-form-label">Cost Per Acres</label>
    <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="costPerAcre"
    #costPerAcre="ngModel"
    id="costPerAcre"
    type="number">
    <div
    class="alert alert-danger"
    *ngIf="costPerAcre.touched && !costPerAcre.valid">
    Cost Per Acre is Required
    </div>  </div> </div>

    <div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label">Amount</label>
    <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="amount"
    #amount="ngModel"
    id="amount"
    type="number">
    <div
    class="alert alert-danger"
    *ngIf="amount.touched && !amount.valid">
     Amount is Required
    </div> </div> </div>

    <div class="form-group row">
    <label for="advance" class="col-sm-2 col-form-label">Advance</label>
    <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="advance"
    #advance="ngModel"
    id="advance"
    type="number">
    <div
    class="alert alert-danger"
    *ngIf="advance.touched && !advance.valid">
      Advance is Required

    </div></div> </div>
    <div class="form-group row">
    <label for="balance"class="col-sm-2 col-form-label">Balance</label>
    <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="balance"
    #balance="ngModel"
    id="balance"
    type="number">
    <div
    class="alert alert-danger"
    *ngIf="balance.touched && !balance.valid">
    Balance is Required
    </div></div>
  </div>

    <div class="form-group row">
    <label for="totalAmount" class="col-sm-2 col-form-label">Total Amount</label>
    <div class="col-sm-6">
    <input
    required
    class="form-control"
    ngModel
    name="totalAmount"
    #totalAmount="ngModel"
    id="totalAmount"
    type="number">

    <div
    class="alert alert-danger"
    *ngIf="totalAmount.touched && !totalAmount.valid">
    Total Amount is Required

    </div> </div></div>

    <div class="form-group col-sm-2">
    <button class="btn btn-primary" >Save</button>
    </div>
    <div class="form-group col-sm-2">
      <button class="btn btn-primary" >Details</button>
    </div>
    <div class="form-group col-sm-2">
      <button class="btn btn-primary" >Edit</button>
    </div>
    <div class="form-group col">
      <button class="btn btn-primary" >Delete</button>
    </div>

  </div>

</form>
